<!-- C:\attendance_system\script backup\absensi_app\app\templates\employee\attendance.html -->

{% extends "layout.html" %}

{% block title %}Attendance - Sistem Presensi{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Attendance</h1>
    <form method="POST" action="{{ url_for('attendance.record_attendance') }}">
        <div class="form-group">
            <label for="lat">Latitude:</label>
            <input type="text" class="form-control" id="lat" name="lat" required>
        </div>
        <div class="form-group">
            <label for="long">Longitude:</label>
            <input type="text" class="form-control" id="long" name="long" required>
        </div>
        <div class="form-group">
            <label for="photo">Foto (URL):</label>
            <input type="text" class="form-control" id="photo" name="photo" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
{% endblock %}