<!-- app/templates/auth/reset_password.html -->
{% extends "layout.html" %}

{% block title %}Reset Password - Sistem Presensi{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Reset Password</h2>
    <form method="POST">
        <div class="form-group">
            <label for="password">Password Baru:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Perbarui Password</button>
    </form>
    <div class="text-center mt-3">
        <a href="{{ url_for('auth_bp.login') }}">Kembali ke Login</a>
    </div>
</div>
{% endblock %}